@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
}
/***********************************
* NAVBAR
************************************/
.header__navigation {
  font-size: 1.6rem;
}
.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar-nav.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav.main-nav li {
  position: relative;
}
.navbar-link {
  color: #000 !important;
}

.navbar-nav.main-nav a {
  padding-right: 0.8rem !important;
  padding-left: 0.8rem !important;
  color: #000 !important;
  text-transform: uppercase;
  font-weight: 700;
}

.hero{
    width: 100%;
    height:auto;
}

/* ABOUT */
.about{
  display:flex;
  font-size: 20px;

  }
  .about h4{
    padding: 20px;
    margin-top: 100px;
    align-items: center;
  }
.about p{
  margin-left: 30px;
  margin-right: 30px;
}
.about-item1 {
  background-color: #E5F4E9;
  margin: 10px;
  border-top-right-radius: 70px 70px;
  border-bottom-left-radius: 70px 70px;
  height: 400px;
  text-align: center;

}
.about-item2 {
  background-color: #FDF4DB;
  margin: 0px;
  border-top-left-radius: 70px 70px;
  border-bottom-right-radius: 70px 70px;
  height: 400px;
  text-align: center;
  }
  @media only screen and (max-width: 800px) {
    .about {
      display: flex;
      flex-direction: column;
    }
  }
.center{
  margin-top: 30px;
  text-align: center;
  font-weight: 800;
  }

h3{
  margin-top: 50px;
  color: #2BA84A;
  font-weight: 700;
}
h4{
  font-weight: 900;
  font-size: 40px;
font-weight: 900;
line-height: 48px;
text-align: center;

}
h5{

font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 34px;
letter-spacing: 0.03em;
text-align: center;
color: #2BA84A;


}
p {
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}
 .about p   {
  font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: justify;


}

/* *********************SERVICES*********************** */

.container{
    display: flex

  }
  @media (max-width: 850px) {
    .container{
      display: flex;
      flex-direction: column;
    }
  }
  .box2, .box3, .box6, .box7

  {
    margin: 20px 30px 0 100px;
  }
 .start{
   text-decoration: none;
   color: green;
   font-size: 16px;
   font-weight: 400;
 }


    /* ***********************PARTNERS ************************************/
    .partners{
      display: flex;
      justify-content: center;
      font-size: 16px;
    }

    .become-a-partner{
      width: 250px;
      text-align: center;
      margin-bottom: 15px;

    }

    @media (max-width: 850px) {
      .partners{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }



    .become-a-partner button{
      background-color:#2ba84a;
      padding: 8px;
      border-style: none;
      color: white;
      border-radius: 5px;
    }

    .partner-pictures{
      margin-bottom: 20px;
      width: 700px;
      display: inline-block;

    }

    .partner-pictures img{
      margin: 30px;
    }

     /* **************PROJECTS ***************************/
    .projects{

    display: inline-block;
    margin-left: 100px;

    }

    .projects img{
      margin: 40px;
    }


/**************************FOOTER**************************/

/* footer{
  
  background-color: #2ba84a;
  color: white;
  border-top: 15px solid #9cc7a6;
  line-height: 30px;
  font-size: 18px;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer li a {
  text-decoration: none;
  color: #fff;
}
footer h4{
  margin-left: 15px;
}
.row1{
  display:flex;
  width: 100%;
  margin-left: 55px;
  margin-top: 30px;
}
@media (max-width: 850px) {
.row1{
    flex-direction: column;
  }
 }

.sub-col1{
  margin-left: 55px;
  flex:2;
  list-style-type: none;
  }
.sub-col2{
  flex:1;
  }
.sub-col3{
  flex:1;
}
.sub-col4{
  flex:1;
}
.row2{
  margin-left: 110px;
}
.social-icons{
  display: flex;
  margin-left: -50px;
    
}
.social-icons li{
  margin:20px;
  margin-left: 55px;
}
.left{
 display: flex;
  flex: 1;
  
}
.right{
  display: flex;
  flex: 1.5;
}
.newsletter{
  margin-top: 5px;
}
.footer input  {
  border-radius: 10px;
  padding: 10px 10px;
  margin-right: 2px;
  font-size: 16px;
}
.button_1{
  border-radius: 10px;
  padding: 10px 10px;
  margin-right: 2px;
  font-size: 16px;
  background-color: #FFC300;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa{
  margin-right: 5px;
}
.connect {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #fff;
  line-height: 5px;
  margin: 20px 0 40px;
  font-size: 16px;
}
.connect span {
  background: #2ba84a;
  padding: 0 10px;
}
.footer-nav-secondary a {
  color: #fff;
} */
 

