.signup-modal{
    display: none;
position: absolute;
width: 1440px;
height: 858px;
left: 0px;
top: 2px;
background: rgba(67, 95, 74, 0.35)
}

.signup-content{
    position: absolute;
    width: 521px;
    height: 327px;
    left: 359px;
    top: 194px;
}

.signup-content h3 {
margin-top: 1.6rem;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 140%;
/* identical to box height, or 28px */
color: #000000;
}

.btn-close{
    margin-left: 70vh;
    font-weight:600;
    padding: 20px;
}
